nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  padding: 10px;
}
nav ul {
  display: flex;
}
li {
  list-style-type: none;
  padding: 0px 15px;
  margin-left: 10px;
  font-size: 1.5rem;
}
li a {
  text-decoration: none;
  color: #fff;
}
.logo {
  font-size: 1.5rem;
  color: #fff;
}
.title {
  text-align: center;
  font-family: verdana;
  font-size: 2.5rem;
}
.description {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.template-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.template-card {
  border: 0.5px solid rgb(192, 188, 188);
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  height: 430px;
  cursor: pointer;
}
.template-card img {
  object-fit: contain;
}

footer {
  background-color: brown;
  margin: 20px 0px;
  padding: 20px 0px;
}
